<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationConnection" connectionString="DATABASE=SQLTest;SERVER=.;UID=sa;PWD=qizl123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <log4net>
    <logger name="Log4NetTest">
      <level value="WARN"/>
      <level value="INFO"/>
      <level value="DEBUG"/>
      <level value="ERROR"/>
      <level value="FINE"/>
      <appender-ref ref="ADONetAppender"/>
    </logger>
    <!--<root>
      <level value="All" />
      <appender-ref ref="ADONetAppender" />
    </root>-->
    <appender name="ADONetAppender" type="Log4NetLibrary.Log4NetConnectionStringNameAdoNetAppender,Log4NetLibrary">
      <!--BufferSize为缓冲区大小-->
      <!--表示是记录1 条到缓冲区，满1条后再写入SQL server。调试时可以改为1，实际应用建议为100-->
      <param name="BufferSize" value="1"/>
      <!--<connectionString value="server=.;Integrated Security=True;Initial Catalog=hotel" />-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionStringName value="ApplicationConnection"/>
      <commandText value="INSERT INTO Log4NetTest ([dtDate],[sThread],[sLevel],[sLogger],[sMessage],[sException],sStaffValue) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,@sStaffValue)"/>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="3000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@sStaffValue" />
        <dbType value="Int64" />
        <layout type="Log4NetLibrary.Log4NetCustomLayout,Log4NetLibrary">
          <conversionPattern  value="%sStaffValue"/>
        </layout>
      </parameter>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
